@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body{
    background-color: #6B6A6A;
     /* background-image: repeating-linear-gradient(90deg, rgb(32, 32, 32) 0px, rgb(32, 32, 32) 2px,rgb(33, 33, 33) 2px, rgb(33, 33, 33) 4px,rgb(34, 34, 34) 4px, rgb(34, 34, 34) 6px,rgb(33, 33, 33) 6px, rgb(33, 33, 33) 8px,rgb(36, 36, 36) 8px, rgb(36, 36, 36) 10px,rgb(35, 35, 35) 10px, rgb(35, 35, 35) 12px,rgb(33, 33, 33) 12px, rgb(33, 33, 33) 14px,rgb(32, 32, 32) 14px, rgb(32, 32, 32) 16px,rgb(36, 36, 36) 16px, rgb(36, 36, 36) 18px,rgb(34, 34, 34) 18px, rgb(34, 34, 34) 20px,rgb(35, 35, 35) 20px, rgb(35, 35, 35) 22px,rgb(35, 35, 35) 22px, rgb(35, 35, 35) 24px);  */
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Fira Code', monospace;
    }
#root{
    display: flex;
    width:100%;
    height: 100%;
    padding: 10px; 
    margin:10px;
    margin-right: 30px;
}
.infoContainer{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.logoApp{
    color: white;
    font-family: monospace;
    font-size: 3.0em;
    font-style: normal;
    text-shadow: 2px 3px 4px rgba(43, 42, 42, 0.88);
    display: flex;
    justify-content: flex-end;
}
.registerText, .loginText{
    color: white;
    font-size: 2em;
    font-style: bold;
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
}
.userData{
    display:flex;
    margin-top: 40px;
    margin-left: 30px;
}
.name, .nickName, .email, .password{
    font-size: 1.5em;
    margin: 5px;
    color: white;
}
.registerNameLogin, .nickNameLogin, .emailLogin, .passwordLogin{
    font-family:'Fira Code', monospace;
    display: flex;
    font-size: 1em;
    padding: 7px;
    border: 2px solid;
    border-radius: 7px;
    border-color: #03A014;
    background-color: #6B6A6A;
}
.registerNameLogin::placeholder{
    color:#9b9898;
    font-style: italic;
    
}
.nickNameLogin::placeholder{
    color:#9b9898;
    font-style: italic;
}
.emailLogin::placeholder{
    color:#9b9898;
    font-style: italic;
}
.passwordLogin::placeholder{
    color:#9b9898;
    font-style: italic;
}
.submit-register{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
    margin-left: 0;
    background-color: #918d8d;
    color: white;
    font-size: 1.45em ;
    font-family:'Fira Code', monospace;
    width: 11.20em;
    border-radius: 3px; 
    box-shadow: 2px 5px 4px 0px #00000040;
    transition: all 0.5s;
    cursor: pointer;
}


.submit-register:hover{
    background-color: #020331;
    padding-right: 24px;
    padding-left:8px;
    transition: 0.5s;
    
  } 

.footerRegister{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 100px;
    
}

.buttonGoogle{
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 20px;  
    width: 260px;
    height: 40px; 
    margin-left: 30px;   
    color: white;
    font-size: 1.10em ;
    font-family:'Fira Code', monospace;
    background-color: #918d8d;
    border-radius: 4px;
    box-shadow: 2px 5px 4px 0px #00000040;
}

.buttonGoogle:hover{
    background-color: #850000;
    padding-right: 24px;
    padding-left:8px;
    transition: 0.5s;
    
  } 

  .iconEye{
    color: white;
    position: absolute;
    padding: 9px;
    left: 270px;
    cursor: pointer;
  } 

  .sectionReturn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px; 
      /* margin-left: 6px;; */
  }
  .returnLogin{
      display:flex;
      justify-content: center;
      font-size: 0.70em;
      color:#9b9898;
  }
  .linkReturnLogin{ 
    display:flex;
    justify-content: center;
    font-size: 0.80em;
    color:#2609ca;
    cursor: pointer;
  }
  