@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body{
    background-color: #4b4a4a;
  font-family: "Fira Code", monospace;
}
#root {
  display: flex;
}
.infoContainer{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.headerLogin{
  display: flex;
 align-items: center;
 flex-direction: row;
 margin-top: 50px;
}
 .logoApp {
    color: white;
    font-family: monospace;
    font-size: 2em;
    font-style: normal;
    text-shadow: 2px 3px 4px rgba(43, 42, 42, 0.88);
}
.registerText {
    color: white;
    font-size: 2em;
    text-shadow: 2px 3px 4px rgba(43, 42, 42, 0.88);
}
.userData {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 21px;
}
.FormLogin,
.loginFormLogin {
  margin-left: 10px;
}
.name,
.nickName,
.email,
.password {
  font-size: 1.3em;
  color: white;
}
.registerNameLogin,
.nickNameLogin,
.emailLogin,
.passwordLogin {
  font-family: "Fira Code", monospace;
  display: flex;
  font-size: 1em;
  padding: 5px;
  border: 2px solid;
  border-radius: 7px;
  border-color: #00FFD1;
  background-color: #4b4a4a;
  outline: none;
  margin-bottom: 40px;
}
.registerNameLogin::placeholder {
  font-style: italic;
}
.nickNameLogin::placeholder {
  font-style: italic;
}
.emailLogin::placeholder {
  font-style: italic;
}
.passwordLogin::placeholder {
  font-style: italic;
}

#nameEnter, #passwordRequiredText, #passwordNoneText, #emailRequired  {
  display: none;
  color: rgb(104, 5, 5);
  font-size: 13px;
  font-style: italic;
  margin-left: 16px;
  margin-top: -3px;
}

.emailInUseInvalid, .emailLoginEnter, .userNotFound, .wrongPassword, .enterPassword {
  display: none;
  color: rgb(104, 5, 5);
  font-size: 13px;
  font-style: italic;
  margin-left: 16px;
  margin-top: -3px;
}
.showEmailInUse {
  display: block;
  color: red;
  font-style: italic;
}

.buttonContinue, .login-btnContinue, .login-btnRegister, .buttonGoogle{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 21px;
    background-color: #918d8d;
    color: white;
    font-size: 15px;
    font-family:'Fira Code', monospace;
    width: 16.20em;
    padding: 8px;
    border-radius: 3px; 
    box-shadow: 2px 5px 4px 0px #00000040;
    transition: all 0.5s;
    cursor: pointer;
}

.buttonContinue:hover,
.login-btnContinue:hover {
  background-color: #020331;
  padding-left: 24px;
  padding-right: 8px;
  transition: 0.5s;
}

.footerRegister,
.loginFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 28px;
}

.buttonGoogle:hover {
  background-color: #850000;
  padding-right: 24px;
  padding-left: 8px;
  transition: 0.5s;
}

.iconEye {
  color: white;
  position: absolute;
  padding: 9px;
  left: 305px;
  cursor: pointer;
}

.sectionReturn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.returnLogin,
.returnRegister {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #F5F5F5
}
.linkReturnLogin,
.linkReturnRegister {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 1em;
  color: #00FF0A;
  cursor: pointer;
}
/* .rabbit-img,
.loginRabbit-img {
  display: none;
} */


/*//////////////// LOGIN VIEW ////////////*/

.loginInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}
.loginLogoApp{
  display: flex;
    width: 40%;
    margin-top: 32px;
    margin-left: 23px;

}
/* .loginLoginText{
    position: relative;
} */
.welcomeText{
    /* position:absolute; */
    font-size: 15px;
    color: #03A014;

}
.loginUserData {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginUser, .loginPassword{
    font-size: 1.3em;
    color: white;
}
.loginEmailUser, .loginPasswordInput{
    font-family:'Fira Code', monospace;
    display: flex;
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    border-radius: 7px;
    border-color: #00ffea;
    background-color: #4b4a4a;
    margin-bottom: 21px;
} 
.login-iconEye {
  color: white;
  display: flex;
  margin-left: -628px ;
  margin-top: 7px;
  cursor: pointer;
}
.returnRegister {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #979595
}
