@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #4b4a4a;
  font-family: "Fira Code", monospace;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.headerLogin{
  display: flex;
 align-items: center;
 flex-direction: row;
 margin-top: 50px;
}
 .logoApp {
    color: white;
    font-family: monospace;
    font-size: 2em;
    font-style: normal;
    text-shadow: 2px 3px 4px rgba(43, 42, 42, 0.88);
}
.registerText {
    color: white;
    font-size: 2em;
    text-shadow: 2px 3px 4px rgba(43, 42, 42, 0.88);
}
.userData {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 21px;
}
.FormLogin,
.loginFormLogin {
  margin-left: 10px;
}
.name,
.nickName,
.email,
.password {
  font-size: 1.3em;
  color: white;
}
.registerNameLogin,
.nickNameLogin,
.emailLogin,
.passwordLogin {
  font-family: "Fira Code", monospace;
  display: flex;
  font-size: 1em;
  padding: 5px;
  border: 2px solid;
  border-radius: 7px;
  border-color: #00FFD1;
  background-color: #4b4a4a;
  outline: none;
  margin-bottom: 40px;
}
.registerNameLogin::placeholder {
  font-style: italic;
}
.nickNameLogin::placeholder {
  font-style: italic;
}
.emailLogin::placeholder {
  font-style: italic;
}
.passwordLogin::placeholder {
  font-style: italic;
}
#passwordRequiredText{
  display: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -22px;
}

#nameEnter, #passwordNoneText, #emailRequired  {
  display: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -40px;
}

.emailInUseInvalid, .emailLoginEnter, .userNotFound, .wrongPassword, .enterPassword {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
  margin-top: -15px;
}

.buttonContinue, .login-btnContinue, .login-btnRegister, .buttonGoogle{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 21px;
    background-color: #918d8d;
    color: white;
    font-size: 15px;
    font-family:'Fira Code', monospace;
    width: 16.20em;
    padding: 8px;
    border-radius: 3px; 
    box-shadow: 2px 5px 4px 0px #00000040;
    transition: all 0.5s;
    cursor: pointer;
}

.buttonContinue:hover,
.login-btnContinue:hover {
  background-color: #020331;
  padding-left: 24px;
  padding-right: 8px;
  transition: 0.5s;
}

.footerRegister,
.loginFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 28px;
}

.buttonGoogle:hover {
  background-color: #850000;
  padding-right: 24px;
  padding-left: 8px;
  transition: 0.5s;
}

.sectionReturn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.returnLogin{
  margin-right: 26px
}

.returnLogin,
.returnRegister {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #F5F5F5
}

.linkReturnLogin{
margin-right: 50px;
}

.linkReturnLogin,
.linkReturnRegister {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 1.2em;
  color: #00FF0A;
  cursor: pointer;
}

/*//////////////// LOGIN VIEW ////////////*/

.loginInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}
.loginLogoApp{
  display: flex;
  width: 30%;
  margin-top: 32px;
  margin-left: 23px;

}

.welcomeText{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 15px;
  color: #03A014;

}
.loginUserData {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginUser, .loginPassword{
    font-size: 1.3em;
    color: white;
}
.loginEmailUser, .loginPasswordInput{
    font-family:'Fira Code', monospace;
    display: flex;
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    border-radius: 7px;
    border-color: #00ffea;
    background-color: #4b4a4a;
    margin-bottom: 21px;
} 

.returnRegister {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #979595
}


/*----------Wall Section -----------*/

.wall{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns:  10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10% 15% 1fr;
}

#header-wall {
  grid-column: 1/7;
  grid-row: 1/1;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #121111;
  align-items: center;
}

.logo-container{
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}

.wall-logo{
  display: block;
  width: 7.5em; 
  margin-left: 1em;
}

.logout-container{
  display: block;
  align-items: center;
  width: 20%;
  height: 100%;
}

#btnLogout {
  color: white;
  display: flex;
  margin: 22px 4px;
  cursor: pointer;
  font-size: 2.5em;
  }

#container-posts{ /*main de la ruta home*/
  grid-column: 2/6;
  grid-row: 2/4;
}

#container-btn-input{ /*contenedor de boton con efecto input y de las cards que son cada publicacion*/
  border-radius: 10px;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  background-color: #979595;
  box-shadow: 1px 2px 4px rgb(155, 154, 154);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
} 

#img-input{ /*Imagenes de perfil en el contenedor principal para publicar*/
font-size: 2.25em;
}

#btn-input-modal{/*boton con efecto modal*/
  border: none;
  background-color: rgba(236, 236, 236, 0.925);
  border-radius: 20px;
  height: 40px;
  width: 78%;
  cursor: pointer;
  font-weight: bold;
  color: rgb(146, 145, 145);
  font-size: 1em;
  text-align:left;
  padding-left: 15px;
}

#btn-input-modal:hover{
  background-color: rgba(218, 218, 218, 0.925);
}

#modal-background-post{ /*Fondo de la modal para publicar*/
  height: 100vh;
  width: 80%;
  position: fixed;
  z-index: 4;
  background-color: rgba(63, 63, 63, 0.664);
  display: none;
  align-items: center;
  justify-content: center;
}

#modal-content-post { /*contenido de la modal para publicar*/
  width: 90%;
  height: auto;
  background-color: #121111;
  position: fixed;
  border-radius: 20px;
  display: none;
  align-items: center;
  flex-direction: column;
  top: 100px;
}

#space-line{ /*div contenedor de texto 'crear publicacion' y la X*/
  color: white;
  display: inline-flex;
  font-weight: bold;
  width: 100%;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px 7px 20px;
}

#container-img-exit{ /*container imagen X*/
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2%;
}

#btn-exit{/*imagen X*/
  color: white;
  font-size: 1.5em;
}

#line{/*linea divisora de la modal para publicar*/
  border-top: solid white;
  height: 2px;
  padding: 0;
}

#after-line{ /*contenedor de elemento despues de la linea divisora en la modal para publicar*/
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#container-img-text{ /*Contenedor de la imagen de peril en la modal*/
  display: flex;
  align-items: center;
  width: 90%;
}

#img-modal-post{ /*imagen de peril en la modal*/
  font-size: 2.25em;
  color: white;
}

#container-text p{/*Nombre de usurio en la modal para publicar*/
  margin-left: 5%;
  font-weight: bold;
  color: white;
  width: 100%;
}

#input-post{ /*id de la etiqueta textarea para publicar*/
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  outline: none;
  height: 150px;
  margin-top: 5%;
  font-size: 15px;
}

#btn-post :disabled,
#btn-post[disabled]{ /*Boton para publicar es estado disable mientras input este vacio 'boton inactivo'*/
  margin-top: 5%;
  cursor: pointer;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(185, 185, 184);
  border: none;
  outline: none;
  color: rgb(133, 131, 131);
}

#btn-post{/*Boton para publicar con informacion en el input 'boton activo'*/
  margin-top: 5%;
  cursor: pointer;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  background-color: #00FFD1;
  border: none;
  outline: none;
  color: #333;
}

#div-post{ /*contenedor de los post*/
  grid-column: 2/6;
  grid-row: 3/4;
}

.card-post{/*Tarjeta y contenedor de cada post*/
  border-radius: 5px;
  margin-top: 30px;
  height: 160px;
  width: 100%;
  background-color: #979595;
  box-shadow: 1px 2px 4px #00FFD1;
  border: solid #00FFD1;
  position: relative;
} 

#container-user-data{/*contenedor de imagen, nombre y fecha en el post*/
  display: inline-flex;
}

#img-post{/*imagen en el post*/
  font-size: 2.25em;
  padding: 20px 0px 0px 10px;
}

#container-data{/*contenedor de nombre y fecha en el post*/
  margin: 8px 0 0 10px;
}

#user-name {/*nombre en el post*/
  margin-block-end: -1em;
  font-weight: bold;
  color: white;
}

#date{/*fecha en el post*/
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}

#description-post{/*descripcion en el post*/
  margin-block-start: -1em;
  padding: 5%;
  word-break: break-all;
}

#container-selects { /*contenedor de las imagenes editar y eliminar*/
  position: absolute;
  width: 20%;
  top: 20px;
  right: 5%;
  display: flex;
  justify-content: space-around;
}

#img-edit, #img-delete { /*imagenes editar y eliminar*/
  font-size: 1.2em;
}

#container-likes {/*contenedor de like texto e imagenes*/
  width: 20%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-evenly;
  /* flex-direction: row-reverse; */
  float: right;
}

#img-like{ /*imagenes like*/
  font-size: 1.5em;
}

#container-modal-delete{/*Fondo de la modal confirmar, para eliminar el post*/
  height: 100vh;
  width: 80%;
  position: fixed;
  z-index: 4;
  background-color: rgba(63, 63, 63, 0.664);
  display: none;
  align-items: center;
  justify-content: center;
}

#modal-content-delete {/*contenido de la modal confirmar, para eliminar el post*/
  height: 150px;
  width: 80%;
  background-color: #121111;
  border-radius: 20px;
  position: fixed;
  display: none;
  transform: translateY(-80%);
  top: 50%;
  z-index: 4;
  padding: 5%;
}

#content-modal-delete{/*contenerdor de texto y boton en la modal confirmar, para eliminar el post*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 8px;
}

#btn-accept-delete{/* boton en la modal confirmar, para eliminar el post*/
  cursor: pointer;
  height: 25px;
  width: 70%;
  border-radius: 10px;
  font-size: 20px;
  background-color: #00FFD1;
  border: none;
  outline: none;
  color: #333;
}

